<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado do Cálculo Solar</title>
</head>
<body>
    <h1>Resultado do Cálculo Solar</h1>
    <p>Meus parabéns, {{ nome }}, seu cálculo obteve sucesso!</p>
    <p>A potência do seu sistema solar é de {{ sis_solar }} kWh.</p>
    <p>O valor do seu investimento será de R$ {{ inv3|floatformat:2 }} .</p>
    <p>A produção de energia mensal é de {{ prod }} kWh.</p>
    <p>A economia anual do sistema solar é de R$ {{ eco2|floatformat:2 }} .</p>
    <p>Informativo: O valor usado como padrão é totalmente pego do site NeoSolar.com. A fim de padronizar e não fazer um código longo, usaremos esse padrão para todas as regiões.</p>
    <p>
        <h1>
            Calculadora de economia de energia solar: Aplicação WEB, permite os usuários inserirem informações sobre seu consumo de energia elétrica e localização para calcular o potencial de economia ao adotar a energia solar fotovoltaica. A aplicação pode considerar fatores como capacidade do sistema solar, custos iniciais e os incentivos fiscais disponíveis para estimar o retorno do investimento e os benefícios ambientais.    
            </h1>    
                </p>
</body>
</html>

